.custom-centered
  margin-left: auto;
  margin-right: auto;

.custom-fixed-box
  max-width: 25em;
  min-width: 25em;

.custom-max-width
  width: 100%;

.custom-no-hero-center
  align-items: stretch !important;